/**
 * Collision detection
 * 
 * Author:  Anshul Kharbanda
 * Created: 4 - 30 - 2021
 */
* {
    font-family: 'Segoe UI', 
        Tahoma, Geneva, 
        Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #333;
    color: white;
}

a {
    color: #00aaff;
    text-decoration: none;
}
a::before {
    content: '>';
}

#app {
    text-align: center;
    padding: 4pt;
}

#grid {
    display: grid;
    place-items: center;
    max-width: 1280px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "canvas canvas"
        "stats controls";
    @media screen and (max-width: 450px) {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "canvas"
            "stats"
            "controls";
    }
}

#canvas {
    width: 100%;
    border: 1px solid #777;
    grid-area: canvas;
} 